<div class="center">
<h1>Sign in</h1>



<%= form_tag session_path do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="username">Username</label>
     <%= text_field_tag :username, params[:username], class:"mdl-textfield__input" %>

      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="username">Password</label>
    <%= password_field_tag :password, params[:password], class:"mdl-textfield__input"  %>

        </div>
<br>
    <%= submit_tag "Sign in", class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
<% end %>
</div>
