/* line 2, /home/ville/TSOHA/mitenmeni/app/assets/stylesheets/frontpage.scss */
body {
  background-position: center center;
  background-size: cover;
  background-image: url(/assets/Sloth-a72017cdcb28c56de2e515d43d60b373bdc7f6298906af23e134e0b91286fee8.jpg);
}
