
<h1>Listing Ratings</h1>

<div class="col-md-6">
  <ul class="demo-list-icon mdl-list">
    <% @ratings.each do |rating| %>

        <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon ">record_voice_over</i>
      <span>


        <% if rating.place_id %>
        <%= rating.get_place.name %>
      <% end %>
      </span>
      <span class="mdl-list__item-text-body">
         <% if rating.get_user %>
        <%= link_to rating.get_user.username, rating.user %>
      <% else %>
         Anonymous
      <% end %>
    </span>
    </span>
    <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" href="<%= rating_path(rating) %>"><i class="material-icons">visibility</i></a>
    </span>
    </li>
    <% end %>
  </ul>
<span>
  <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="<%= new_rating_path %>"><i class="material-icons">add</i></a>
</span>
</div>
<br>
