<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @rating.user.username, @rating.user %>
</p>

<%= link_to 'Back', ratings_path %>
