<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>User:</strong>
  <% if @rating.user_id %>
      <%= link_to @rating.user.username, @rating.user  %>
  <% else %>
    anon
  <% end %>

</p>

<%= link_to 'Back', :back %>
