<section>
  <h1 class="text-center frontpage-header">Tervetuloa Miten Meni? -nettisivulle!</h1>
  <p class="text-center frontpage-header">
    Miten meni noin niinkuin omasta mielestä?
    <br>
    Kerro se meille, sana on vapaa!
  </p>

  <div class="text-center">
    <%=link_to "Sign in", signin_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <%= link_to "Start rating places!", places_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>

</section>



