<div class="frontpage">
<section>
  <h1 class="text-center">Tervetuloa Miten Meni? -nettisivulle!</h1>
  <p class="text-center">
    Miten meni noin niinkuin omasta mielestä?
    <br>
    Kerro se meille, sana on vapaa!
  </p>

</section>



</div>