<img  class="bg"  alt="SLOTH" src="/assets/Sloth.jpg" >

<section>
  <h1>Tervetuloa Miten Meni? -nettisivulle!</h1>
  <p>
    Miten meni noin niinkuin omasta mielestä?
    <br>
    Kerro se meille, sana on vapaa!
  </p>

</section>

