

@import "bootstrap-sprockets";
@import "bootstrap";

.bg
{
  width: 100%;
  z-index: 0;
}
main{
  font-size: 12px;
  padding-top: 45px;

}
section{
  font-size: 12px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
h1{
  font-size: 30px;
}
