

@import "bootstrap-sprockets";
@import "bootstrap";
@import "material";

.bg
{
  width: 100%;
  z-index: 0;
}
main{
  font-size: 12px;
  margin-top: 5%;
}
section{
  font-size: 12px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
h1{
  font-family: Roboto;
  font-size: 30px;
}

.frontpage {
  padding-top: 240px;
  padding-bottom: 180px;
  margin: -52px -15px 0;
  border-radius: 0!important;
  background-color: #333;
  color: #fff;
  background-image: asset-url("Sloth.jpg");
  background-position: center center;
  background-size: cover;
}
