<h1>Search places </h1>

<%= form_tag places_path do %>
    City <%= text_field_tag :city, params[:city], class:"input input-sm" %>
    <%= submit_tag "Search", class:"btn btn-default" %>
<% end %>

<% if @places %>
    <ul>
      <% @places.each do |place| %>
          <li><%=place.name %></li>
      <% end %>
    </ul>
<% end %>